__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
figures/
.idea
kernel_meta/
logs/
fusion_result.json
.DS_Store
results/
figures/
--git-common-dir/
